html, body {
  margin:0;
  padding:0;
  overflow:hidden;
}
#WebGL-output {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
canvas {
  width:100%;
  float: left;
}

#stats-output {
  position: absolute;
  left: 0px;
  top: 0px;
}

#nowPlaying {
  position: absolute;
  right: 0;
  bottom: 0%;
}




/* Element hiding... */

.hiding {
  visibility: hidden;
}
.showing {
  visibility: visible;
}
.removed {
  display: none;
}
.replaced {
  display: block;
}
